.item {
  display: flex;
  align-items: center;
  margin-right: 24px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.name {
  margin-right: 16px;
  margin-left: 16px;
}

.price {
  display: flex;
  align-items: center;
  margin-left: auto;
}
