.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.list {
  padding: 0;
  margin: 0;
  max-height: 206px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
  flex-wrap: wrap;
  color: #00CCCC;
}

.text {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
