.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 16px;
  max-width: 600px;
  box-sizing: border-box;
}

.dynamicConstructor {
  margin-bottom: 16px;
  margin-top: 16px;
  height: 464px;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar { /* 1 - скроллбар */
    position: absolute;
    width: 8px;
    background-color: #2F2F37;
  }

  &::-webkit-scrollbar-thumb { /* 5 - ползунок */
    background-color: #8585AD;;
  }

  .item {
    margin-right: 8px;
  }

}

.item {
  max-width: 568px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  svg {
    margin-right: 8px;
  }
}


.sum {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

