.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  max-width: 600px;
}

.list {
  padding: 0 16px;
  margin: 0;
  list-style: none;
}

.item {
  max-width: 568px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  svg {
    margin-right: 8px;
  }
}

.item__top,
.item__bottom {
  padding-left: 32px;
}
